dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/setup-config
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/build/libHSsystem-o-0.1.0.0-inplace-ghc8.8.3.dylib
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/build/libHSsystem-o-0.1.0.0-inplace.a
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/build/SystemO.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/build/SystemO.dyn_o
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/build/SystemO.hi
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/build/SystemO.o
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/build/autogen/cabal_macros.h
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/build/autogen/Paths_system_o.hs
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/cache/build
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/cache/config
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/cache/registration
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/l/system-o-lib/setup-config
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/l/system-o-lib/build/system-o-lib/libHSsystem-o-0.1.0.0-inplace-system-o-lib-ghc8.8.3.dylib
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/l/system-o-lib/build/system-o-lib/libHSsystem-o-0.1.0.0-inplace-system-o-lib.a
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/l/system-o-lib/build/system-o-lib/SystemO.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/l/system-o-lib/build/system-o-lib/SystemO.dyn_o
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/l/system-o-lib/build/system-o-lib/SystemO.hi
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/l/system-o-lib/build/system-o-lib/SystemO.o
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/l/system-o-lib/build/system-o-lib/autogen/cabal_macros.h
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/l/system-o-lib/build/system-o-lib/autogen/Paths_system_o.hs
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/l/system-o-lib/cache/build
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/l/system-o-lib/cache/config
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/l/system-o-lib/cache/registration
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/l/system-o-lib/package.conf.inplace/package.cache
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/l/system-o-lib/package.conf.inplace/package.cache.lock
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/package.conf.inplace/package.cache
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/package.conf.inplace/package.cache.lock
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/x/system-o/setup-config
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/x/system-o/build/system-o/system-o
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/x/system-o/build/system-o/autogen/cabal_macros.h
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/x/system-o/build/system-o/autogen/Paths_system_o.hs
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/x/system-o/build/system-o/system-o-tmp/Main.hi
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/x/system-o/build/system-o/system-o-tmp/Main.o
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/x/system-o/cache/build
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/x/system-o/cache/config
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/x/system-o/cache/registration
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/x/system-o/package.conf.inplace/package.cache
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/x/system-o/package.conf.inplace/package.cache.lock
dist-newstyle/cache/compiler
dist-newstyle/cache/config
dist-newstyle/cache/elaborated-plan
dist-newstyle/cache/improved-plan
dist-newstyle/cache/plan.json
dist-newstyle/cache/solver-plan
dist-newstyle/cache/source-hashes
dist-newstyle/cache/up-to-date
dist-newstyle/packagedb/ghc-8.8.3/package.cache
dist-newstyle/packagedb/ghc-8.8.3/package.cache.lock
dist-newstyle/packagedb/ghc-8.8.3/system-o-0.1.0.0-inplace-system-o-lib.conf
dist-newstyle/packagedb/ghc-8.8.3/system-o-0.1.0.0-inplace.conf
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/t/spec/setup-config
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/t/spec/build/spec/spec
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/t/spec/build/spec/autogen/cabal_macros.h
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/t/spec/build/spec/autogen/Paths_system_o.hs
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/t/spec/build/spec/spec-tmp/Main.hi
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/t/spec/build/spec/spec-tmp/Main.o
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/t/spec/build/spec/spec-tmp/SystemOSpec.hi
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/t/spec/build/spec/spec-tmp/SystemOSpec.o
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/t/spec/cache/build
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/t/spec/cache/config
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/t/spec/package.conf.inplace/package.cache
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/t/spec/package.conf.inplace/package.cache.lock
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/t/spec/test/system-o-0.1.0.0-spec.log
dist-newstyle/build/x86_64-osx/ghc-8.8.3/system-o-0.1.0.0/t/spec/test/system-o-0.1.0.0.log
.hspec-failures
